
/* Основний колір сторінки #FFFFFF  */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */

/* цвет основного текста #000000 */
/* вторичный цвет текста  rgba(0, 0, 0, 0.8);*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --primary-background: #F5F5F5;
  --second-background: #2F303A;
  --second-text-color: #FFFFFF;
  --button-background: #188CE8;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;  
}

li {
  list-style: none;
}

  /* Logo */
  .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
  }

  .logo-span {
    color: var(--accent-color);
  }

  /* Site nav */

.sity-nav, .link {
    color: var(--primary-text-color);
    text-decoration: none; 
    font-weight: 500;
    letter-spacing: 0.02em;
    
}

.link:hover, .link:focus{
    color: var(--accent-color);
}

.open {
  color: var(--accent-color);
}

/* Контакти */
.nav-mail, .nav-tel {
    color: var(--title-text-color); 
    text-decoration: none;   
    font-style: normal;
    font-weight: 500; 
    letter-spacing: 0.02em;
}

.nav-mail:hover, .nav-tel:hover, .adr:hover,
.nav-mail:focus, .nav-tel:focus, .adr:focus {
  color: var(--accent-color);
}

/* Головний банер */
.hero > h1, .hero {
  background-color: var(--second-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}


/* Кнопка на сторінці Студія */

.button {
cursor: pointer;
width: 216px;
height: 50px; 
background: var(--accent-color);
border:none;
border-radius: 4px;
font-style: normal;
font-family: inherit;
letter-spacing: 0.06em;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
color: var(--second-text-color);
}

.button:hover, .button:focus{
  background: var(--button-background);
}

/* Кнопки на сторінці Портфоліо */

.buttons {
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border:none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.buttons:hover, .buttons:focus{
  background: var(--accent-color);
  color: var(--second-text-color);
}

.one {
  width: 73px;
  height: 38px;
}

.two {
  width: 125px;
  height: 38px;
}

.three {
  width: 112px;
  height: 38px;
}

.four {
  width: 103px;
  height: 38px;
}

.five {
  width: 130px;
  height: 38px;
}

/* Секція - Головні переваги */

.title{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.text {
  color: var(--title-text-color);
}

/* Секція - Чим ми займаємося */

.caption {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}


/* Секція - Наша команда */

.our-teem {
  background: #F5F4FA;
}

.lead {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
}

.post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}


/* Футер */

.footer {
  background-color: rgba(47, 48, 58, 1); 
}

.footer-nav-mail, .footer-nav-tel, .footer-adr {
  color: var(--title-text-color); 
  text-decoration: none;   
  font-style: normal;
  font-weight: 400; 
}

.footer-nav-mail:hover, .footer-nav-tel:hover, .footer-adr:hover,
.footer-nav-mail:focus, .footer-nav-tel:focus, .footer-adr:focus {
  color: var(--second-text-color)
  ;
}

.foot-web{
  color: var(--second-text-color);
}

/* Сторінка - Портфоліо */


.headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.quote{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--title-text-color);
}



  

